[Unit]
Description=QBittorrent Main Container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=qbittorrent-nox
Image=docker.io/qbittorrentofficial/qbittorrent-nox:latest
AutoUpdate=registry
Volume=$HOME/srv/jellyfin-media/:/media:z
Volume=qbittorrent_config:/config:Z
Environment=QBT_LEGAL_NOTICE=confirm
Environment=QBT_VERSION=latest
Environment=QBT_TORRENTING_PORT=6881
Environment=QBT_CONFIG_PATH=/config
Environment=QBT_DOWNLOADS_PATH=/media
Environment=QBT_WEBUI_PORT=9500
PublishPort=6881:6881
PublishPort=9500:9500

[Service]
Restart=always

[Install]
WantedBy=default.target
