[Unit]
Description=QBittorrent Main Container
Wants=network-online.target
After=network-online.target

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=qbittorrent
Image=qbittorrentofficial/qbittorrent-nox:latest
AutoUpdate=registry
Volume=$HOME/srv/jellyfin-media/:/media:z
Volume=qbittorrent_config:/config:Z
Volume=qbittorrent_torrent_files:/torrent_files:Z
Environment=QBT_LEGAL_NOTICE=confirm
Environment=QBT_VERSION=latest
Environment=QBT_CONFIG_PATH=/config
Environment=QBT_DOWNLOADS_PATH=/media
Environment=WEBUI_PORT=9500
Environment=TORRENTING_PORT=6881
PublishPort=6881:6881
PublishPort=9500:9500
# Volume sharing
Environment=PUID=0
Environment=PGID=0
