[Unit]
Description=Baikal Main Container
Wants=network-online.target
After=network-online.target

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=baikal
Image=docker.io/ckulka/baikal:apache
AutoUpdate=registry

PublishPort=9336:80/tcp
PublishPort=9336:80/udp

Volume=baikal_data:/var/www/baikal/Specific:Z
Volume=baikal_config:/var/www/baikal/config:Z
