[Unit]
Description=Miniflux Main Container
Wants=network-online.target
After=network-online.target
Wants=miniflux-pgdb.container
After=miniflux-pgdb.container

[Service]
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target

[Container]
AutoUpdate=registry
Environment=ADMIN_USERNAME=alice
Environment=CREATE_ADMIN=1
Environment=LISTEN_ADDR=0.0.0.0:9130
Environment=POSTGRES_DB=postgres
Environment=BASE_URL=http://taxifolia
Environment=POSTGRES_HOST=miniflux-pgdb
Environment=POSTGRES_USER=postgres
Environment=RUN_MIGRATIONS=true
Image=ghcr.io/tulilirockz/cerasus/miniflux:latest
Pod=miniflux.pod
Secret=miniflux_admin_pass,type=env,target=ADMIN_PASSWORD
Secret=miniflux_pgdb_pass,type=env,target=POSTGRES_PASSWORD
