[Unit]
Description=Miniflux database container

[Service]
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target

[Container]
AutoUpdate=registry
Environment=PGDATA=/var/lib/postgresql/data/pgdata
Environment=PGPORT=5432
Environment=POSTGRES_DB=miniflux2
Environment=POSTGRES_USER=postgres
Image=docker.io/library/postgres:alpine
Pod=miniflux.pod
Secret=miniflux_pgdb_pass,type=env,target=POSTGRES_PASSWORD
Volume=%h/srv/miniflux-db:/var/lib/postgresql/data/pgdata:Z
