[Unit]
Description=Pihole DNS server

[Service]
restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=pihole
Image=docker.io/pihole/pihole:latest
AutoUpdate=registry
Volume=pihole_config:/etc/pihole:Z
Volume=pihole_log:/var/log:Z
Environment=TZ=America/Sao_Paulo

# DNS Ports
PublishPort=53:53/tcp
PublishPort=53:53/udp
# Default HTTP Port
PublishPort=4060:80/tcp
# Default HTTPs Port. FTL will generate a self-signed certificate
PublishPort=4061:443/tcp
# DHCP port
PublishPort=67:67/udp
# NTP port
PublishPort=123:123/udp

# https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
AddCapability=SYS_TIME
AddCapability=NET_ADMIN
AddCapability=NET_BIND_SERVICE
AddCapability=NET_RAW
