[Unit]
Description=Navidrome Main Container

[Service]
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target

[Container]
AutoUpdate=registry
Environment=ND_ENABLEFAVOURITES=false
Environment=ND_ENABLEGRAVATAR=false
Environment=ND_ENABLENOWPLAYING=false
Environment=ND_ENABLESTARRATING=false
Environment=ND_ENABLETRANSCODINGCONFIG=true
Environment=ND_TRANSCODINGCACHESIZE=3000MB
Image=ghcr.io/tulilirockz/cerasus/navidrome:latest
PublishPort=9533:4533/tcp
PublishPort=9533:4533/udp
Volume=%h/srv/music:/var/lib/navidrome/music:z,ro
Volume=navidrome_cache:/var/lib/navidrome/cache:Z
Volume=navidrome_data:/var/lib/navidrome:Z
