[Unit]
Description=Navidrome Main Container
Wants=network-online.target
After=network-online.target

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=navidrome
Image=ghcr.io/tulilirockz/triticum/navidrome:latest
AutoUpdate=registry
PublishPort=9533:4533/tcp
PublishPort=9533:4533/udp
Volume=navidrome_cache:/var/lib/navidrome/cache:Z
Volume=navidrome_data:/var/lib/navidrome:Z
Volume=%h/srv/jellyfin-media/music-tulip:/var/lib/navidrome/music:z,ro
