[Unit]
Description=Nextcloud database container

[Container]
ContainerName=nextcloud-pgdb
Image=docker.io/library/postgres:17-alpine
AutoUpdate=registry
Pod=nextcloud.pod
AutoUpdate=registry
Secret=nextcloud_pgdb_pass,type=env,target=POSTGRES_PASSWORD
Volume=nextcloud_pgdb:/var/lib/postgresql/data/pgdata:Z
Environment=PGDATA=/var/lib/postgresql/data/pgdata
Environment=PGPORT=5432
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=postgres

[Service]
Restart=always

[Install]
WantedBy=default.target
RequiredBy=nextcloud.service
