[Unit]
Description=Nextcloud Main Container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=nextcloud
Image=docker.io/library/nextcloud:31
Pod=nextcloud.pod
AutoUpdate=registry

Volume=nextcloud_web:/var/www/html:Z
Volume=nextcloud_apps:/var/www/html/custom_apps:Z
Volume=nextcloud_config:/var/www/html/config:Z
Volume=nextcloud_data:/var/www/html/data:Z
Volume=$HOME/srv/jellyfin-media/:/srv/jellyfin-media:z

Environment=NEXTCLOUD_TRUSTED_DOMAINS=taxifolia
Environment=NEXTCLOUD_ADMIN_USER=mycorrhizal
Secret=nextcloud_admin_pass,type=env,target=NEXTCLOUD_ADMIN_PASSWORD

Environment=POSTGRES_DB=postgres
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_HOST=nextcloud-pgdb
Secret=nextcloud_pgdb_pass,type=env,target=POSTGRES_PASSWORD

Environment=REDIS_HOST=nextcloud-ramdb

[Service]
Restart=always

[Install]
WantedBy=default.target
