[Unit]
Description=Radicale Main Container

[Service]
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target

[Container]
AutoUpdate=registry
ContainerName=radicale
Image=ghcr.io/tulilirockz/triticum/radicale:latest
PublishPort=9232:5232/tcp
PublishPort=9232:5232/udp
Volume=%h/srv/radicale-config/radicale.ini:/etc/radicale/config:Z,ro
Volume=%h/srv/radicale-data:/srv/data:Z,rw
