[Unit]
Description=Unbound DNS server

[Quadlet]
DefaultDependencies=false

[Service]
# This we actually want _always_.
Restart=always

[Install]
WantedBy=default.target

[Container]
AutoUpdate=registry
ContainerName=unbound
Image=ghcr.io/tulilirockz/triticum/unbound:latest
Network=host
Volume=%h/srv/unbound-config/unbound.conf:/etc/unbound/unbound.conf:Z
Volume=%h/srv/unbound-cache:/var/lib/unbound:Z
Volume=%h/srv/unbound-log:/var/log/unbound:Z
