[Unit]
Description=Unbound DNS server

[Service]
restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=unbound
Image=ghcr.io/tulilirockz/unbound:latest
AutoUpdate=registry
Volume=unbound_data:/var/lib/unbound:Z
Volume=$PWD/unbound.conf:/etc/unbound/unbound.conf:Z
Volume=unbound_log:/var/log/unbound:Z

# DNS Ports redirected to 53 using firewalld
PublishPort=5335:53/tcp
PublishPort=5335:53/udp
