[Unit]
Description=Unbound DNS server

[Service]
restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=unbound
Image=localhost/unbound:latest
User=0
AutoUpdate=registry
Volume=unbound_data:/var/lib/unbound:Z
Volume=$PWD/unbound.conf:/etc/unbound/unbound.conf:Z
Volume=unbound_log:/var/log/unbound:Z

# DNS Ports
PublishPort=53:53/tcp
PublishPort=53:53/udp

AddCapability=NET_ADMIN
AddCapability=NET_BIND_SERVICE
AddCapability=NET_RAW
