[Unit]
Description=Tailscale Mesh DNS server
Wants=network-online.target
After=network-online.target

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
AddCapability=NET_ADMIN
AddCapability=NET_RAW
AddDevice=/dev/net/tun
AutoUpdate=registry
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:container
Environment=TS_LOCAL_ADDR_PORT=9002
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=0
Image=ghcr.io/tailscale/tailscale:latest
Network=host
Volume=%h/srv/tailscale-data:/var/lib/tailscale:Z
