[Unit]
Description=Jellyfin Main Container

[Service]
Restart=on-failure
RestartSec=5s
# Inform systemd of additional exit status
SuccessExitStatus=0 143

[Install]
WantedBy=default.target

[Container]
AddDevice=/dev/dri:/dev/dri
AutoUpdate=registry
Environment=JELLYFIN_PublishedServerUrl=http://taxifolia
Image=docker.io/jellyfin/jellyfin:latest
# https://jellyfin.org/docs/general/post-install/networking/
PublishPort=1900:1900/tcp
PublishPort=1900:1900/udp
PublishPort=7359:7359/tcp
PublishPort=7359:7359/udp
PublishPort=8920:8920/tcp
PublishPort=8920:8920/udp
PublishPort=9096:8096/tcp
PublishPort=9096:8096/udp
UserNS=keep-id
Volume=%h/srv/jellyfin-cache:/cache:Z
Volume=%h/srv/jellyfin-config:/config:Z
Volume=%h/srv/media:/media:z
