[Unit]
Description=FreshRSS Main Container
Wants=network-online.target
After=network-online.target

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=freshrss
Image=docker.io/freshrss/freshrss:alpine
AutoUpdate=registry
PublishPort=9736:80/tcp
PublishPort=9736:80/udp
Volume=%h/srv/freshrss/data:/var/www/FreshRSS/data:Z
Volume=freshrss_extensions:/var/www/FreshRSS/extensions:Z
Environment=TZ=America/Sao_Paulo
Environment=CRON_MIN=2,32
Environment=FRESHRSS_INSTALL=--default-user=alice --db-type=sqlite
