[Unit]
Description=Uptime Kuma monitoring service

[Service]
restart=always

[Install]
WantedBy=default.target

[Container]
ContainerName=uptime-kuma
Image=docker.io/louislam/uptime-kuma:beta-rootless
AutoUpdate=registry
Volume=uptime_kuma_data:/app/data:Z
PublishPort=9001:3001/tcp
