[Unit]
Description=Searxng temporary storage container

[Container]
ContainerName=searxng-ramdb
Image=docker.io/valkey/valkey:9.0-alpine
AutoUpdate=registry
Pod=searxng.pod
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
RequiredBy=searxng.service
