[Unit]
Description=Cockpit management container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=cockpit-ws
Image=quay.io/cockpit/ws:latest
Environment=NAME=cockpit-ws
AutoUpdate=registry
Volume=/:/host
PodmanArgs=--pid host --privileged
Exec=/container/label-run

[Service]
restart=always

[Install]
WantedBy=default.target
